*{
   background-color:  #22254b;
}
.btn{
    color: black;
    font-size: medium;
    font-family: poppins;
    font-weight: 550;
    width: 100px;
    height: 50px;
    border-radius: 15px;
    background-color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
}